.navbar_background{
    background-color: #69DDF5;
    color:white;
}
.bg-light {
    background-color: #66605F;
}
.nav_menu{
    list-style: none;
    padding: 0;
    margin: 0;

}
.nav_menu li{
    display: inline-block;
    padding-right: 10px ;
}